.App {
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rebeccapurple;
  height: 100em;
}

#search-poster {
  max-height: 10rem;
}

#search-results {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#leaderboard-container {
  background-color: darkgrey;
}

.leaderboard-entry {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  justify-content: space-around;
  width: 32em;
  height: 11em;
}

.leaderboard-entry p {
  font-size: 2em;
}

.leaderboard-entry img {
  max-height: 10em;
  border-radius: 1em;
  border-width: 1;
}

.leaderboard-entry button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}